/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

/* CSS Variables * CSS reset */

:root {
  --prim-color: #0f1420;
  --sec-color: #8bde14;
  --max-width: 1100px;
}

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 /* Base Styles */

 html {
   font-size: 16px;
 }

 body {
   font-family: 'Nunito Sans', sans-serif;
   font-size: 1.2rem;
   line-height: 1.5;
   background: var(--prim-color);
   color: #fff;
   /* get rid of any scroll bars */
   overflow-x: hidden;
   padding-bottom: 50px;
 }

 /* Utility Classes */

 .container {
   max-width: var(--max-width);
   margin: 0 auto;
 }


 /* Main Header */

 #main-header .container {
   /* border-bottom: 1px var(--sec-color) solid; */
   padding: 4rem 1rem;
   text-align: center;
 }

 h1 {
   font-size: 2.5rem;
 }

 #main-header i {
   color: var(--sec-color);
 }

/* Timeline styles ------ */

#timeline ul {
  background: var(--prim-color);
  padding: 50px 0;
}

/* Create the central vertical line for the 'timeline' */
#timeline ul li {
  list-style: none;
  padding-top: 30px;
  position: relative;
  width: 4px;
  margin: 0 auto;
  background: var(--sec-color);
}

/* Create Boxes */
 #timeline ul li div {
  position: relative;
  width: 400px;
  bottom: 0;
  padding: 1rem;
  border: var(--sec-color) 1px solid;
  border-radius: 5px;
  /* Boxes start out invisible and transition in over 1s*/
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
 }

 /* Right Side Boxes = Odd & Left Side Boxes = Even */

 /* Right Side Boxes - move 40px from the li, start position is 300px along X axis */
 #timeline ul li:nth-child(odd) div {
  left: 40px;
  transform: translate(300px, 0);
 }

 /* Left Side Boxes - -40px from the li line, start position is -300px along X axis */
 #timeline ul li:nth-child(even) div {
   left: -440px;
   transform: translate(-300px, 0);
 }

 /* Create the Dots on the li timeline */
 #timeline ul li:after {
  content: '';
  position: absolute;
  background: inherit;
  /* Moves the left edge of the dot to the center of the vertical line (li) */
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  /* However much it was moved to the left above - move it back by that much to be central  */
  transform: translateX(-50%);
  /* So that the background can change color smoothly - color change done by JS */
  transition: background 1s ease-in-out;
 }

 /* Arrows Base  */
 #timeline ul li div:before {
  content: '';
  position: absolute;
  bottom: 4px;
  /* Don't need a width or height as we are just manipulating the border */
  width: 0;
  height: 0;
  border-style: solid;
 }

 /* Creaete Right Side Arrows */
 #timeline ul li:nth-child(odd) div:before {
   /* position -16px from the left side of the div box */
   left: -16px;
   border-width: 8px 16px 8px 0;
   border-color: transparent var(--sec-color) transparent transparent;
 }

 /* Left Side Arrows */
 #timeline ul li:nth-child(even) div:before {
   /* -16 px from the right side of the div box */
   right: -16px;
   border-width: 8px 0 8px 16px;
   border-color: transparent transparent transparent var(--sec-color);
 }

 /* Show Boxes and move in from the side  */
 #timeline ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
 }

 /* Change background color of dots when .show is added */
 #timeline ul li.show:after {
   background: #fff;
 }



/*  Media Queries ----------------- */

/* Tablets */
@media (max-width:900px) {
  #timeline ul li div {
    width: 250px;
  }

  /* Bring the div -284px left from the li parent */
  #timeline ul li:nth-child(even) div {
    left: -284px;
  }
}

/* Smartphones */
@media (max-width: 600px) {

  h1 {
   font-size: 2.2rem;
  }

  #timeline ul li {
    margin-left: 30px;
  }

  /* width of Box should be 90px less than the whole width of viewport */
  #timeline ul li div {
    width: calc(100vw - 90px);
  }

  /* Move the left side boxes to the right */
  #timeline ul li:nth-child(even) div {
   left: 40px;
  }

  /* Left Side Arrows - change to mirror the Right ones on Smartphone */
  #timeline ul li:nth-child(even) div:before {
   left: -16px;
   border-width: 8px 16px 8px 0;
   border-color: transparent var(--sec-color) transparent transparent;
  }
}
